
.vs/TypingGame/DesignTimeBuild/.dtbcache
.vs/TypingGame/v15/.suo
*.lock
*.ide-shm
*.ide
*.ide-wal
*.manifest
*.testlog
.vs/TypingGame/v16/.suo
TypingGame.Tests/bin/*
TypingGame.Tests/obj/*
TypingGame/bin/*
TypingGame/obj/*
packages/Ninject.3.3.4/.signature.p7s
packages/Ninject.3.3.4/lib/net45/Ninject.dll
packages/Ninject.3.3.4/lib/net45/Ninject.xml
packages/Ninject.3.3.4/lib/netstandard2.0/Ninject.dll
packages/Ninject.3.3.4/lib/netstandard2.0/Ninject.xml
packages/Ninject.3.3.4/Ninject.3.3.4.nupkg
